<ion-view>
  <ion-header-bar class="bar-stable">
    <button class="button button-icon" ng-click="toggleQuestions()">
      <i class="icon ion-navicon"></i>
    </button>
    <h1 class="title">Rösta</h1>
  </ion-header-bar>
  <ion-content>
    <h2>{{activeQuestion.title}}</h2>
    <form ng-submit="vote()">
      <ion-radio ng-repeat="choice in activeQuestion.choices">{{choice.text}}</ion-radio>
      <div class="padding">
      <button type="submit" class="button button-block button-positive">Rösta!</button>
      </div>
    </form>
 </ion-content>
</ion-view>

<!-- ng-model="choice" -->
<!-- <input type='checkbox' ng-init='checkStatus=false' ng-model='checkStatus' ng-click='doIfChecked(checkStatus)'> -->
